[tool.pdm]

[project]
name = "nonebot-plugin-bilichat"

version = "2.8.0"

description = "一个通过 OpenAI 来对b站视频进行总结插件"
authors = [
    {name = "djkcyl", email = "cyl@cyllive.cn"},
    {name = "Well404", email = "well_404@outlook.com"},
]
dependencies = [
    "bilireq>=0.2.4",
    "qrcode>=7.4.2",
    "pillow>=9.5.0",
    "lxml>=4.9.2",
    "nonebot-plugin-localstore>=0.4.1",
    "nonebot-adapter-onebot>=2.2.2",
    "nonebot-plugin-segbuilder>=0.2.0",
    "nonebot2>=2.0.0",
]
requires-python = ">=3.8,<4.0"
readme = "README.md"
license = {text = "AGPL3.0"}
[project.optional-dependencies]
extra = [
    "nonebot-plugin-sentry>=0.2.2",
    "nonebot-plugin-htmlrender>=0.2.0.3",
]
wordcloud = [
    "jieba>=0.42.1",
    "wordcloud>=1.8.2.2",
]
openai = [
    "tiktoken-async>=0.3.2",
    "minidynamicrender>=1.1.9",
]
newbing = [
    "EdgeGPT>=0.1.22.1,<0.9.0",
    "minidynamicrender>=1.1.9",
    "setuptools",
]

all = [
    "jieba>=0.42.1",
    "wordcloud>=1.8.2.2",
    "tiktoken-async>=0.3.2",
    "EdgeGPT>=0.1.22.1,<0.9.0",
    "minidynamicrender>=1.1.9",
    "nonebot-plugin-htmlrender>=0.2.0.3",
    "setuptools",
]

[tool.pdm.dev-dependencies]
dev = [
    "black>=23.3.0",
    "nonebot-plugin-all4one>=0.1.0a2",
    "nonebot2[fastapi,websockets]>=2.0.0rc4",
]
test = [
    "nonebug>=0.3.2",
    "pytest-asyncio>=0.21.0",
]

[tool.black]
line-length = 120
target-version = ["py38", "py39", "py310", "py311"]
include = '\.pyi?$'
extend-exclude = '''
'''

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"
